body {
  background-color: pink;
}

h1 {
  font-style: italic;
  text-align: center;
  font-size: 45px;
}

#btn-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.container {
  border: 4px solid black;
}

.container_one {
  display: flex;
}

.container_two {
  display: flex;
}

.container_three {
  display: flex;
}

.container_four {
  display: flex;
}

.container_five {
  display: flex;
}

.container_six {
  display: flex;
}

.container_seven {
  display: flex;
}

.container_eight {
  display: flex;
}

.container_nine {
  display: flex;
}

.container_ten {
  display: flex;
}

.container_eleven {
  display: flex;
}

.container_twelve {
  display: flex;
}

.container_thirteen {
  display: flex;
}

.container_fourteen {
  display: flex;
}

.container_fifteen {
  display: flex;
}

.container_sixteen {
  display: flex;
}

.squares {
  background-color: grey;
  margin: 15px;
  width: 100px;
  height: 100px;
}

.container_one .squares:hover {
  background-color: purple;
}

.container_two .squares:hover {
  background-color: cyan;
}

.container_three .squares:hover {
  background-color: white;
}

.container_three .squares:hover {
  background-color: red;
}

.container_four .squares:hover {
  background-color: blue
}

.container_five .squares:hover {
  background-color: orange;
}

.container_six .squares:hover {
  background-color: greenyellow;
}

.container_seven .squares:hover {
  background-color: purple;
}

.container_eight .squares:hover {
  background-color: cyan;
}

.container_nine .squares:hover {
  background-color: white;
}

.container_ten .squares:hover {
  background-color: blue;
}

.container_three .squares:hover {
  background-color: orange;
}

.container_eleven .squares:hover {
  background-color: red;
}

.container_twelve .squares:hover {
  background-color: yellow;
}

.container_thirteen .squares:hover {
  background-color: pink;
}

.container_fourteen .squares:hover {
  background-color: purple;
}

.container_fifteen .squares:hover {
  background-color: cyan;
}

.container_sixteen .squares:hover {
  background-color: white;
}

